body {
  background: #fff;
  padding: 0;
  margin: 0;
}

/*======================== top-navigation =========================*/
.top-nav {
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}
.top-nav a.logo {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.top-nav ul {
  list-style-type: none;
  float: right;
  margin: 0;
}
.top-nav li {
  float: left;
  margin: 0 15px 0 0;
}
.top-nav li a {
  text-decoration: none;
  color: #999;
}

.top-nav li a:hover {
  color: #1e9700;
}
.section.padding-top {
  padding-top: 50px;
}
.section.padding-bottom{
  padding-bottom: 50px;
}
.section.padding-both {
  padding: 50px 0;
}
/*========================== Main Section ==========================*/
.main-section {
  background: #588F27;
}
.headshot {
  width: 100%;
  border-radius: 50%;
}
.main-section h1,
.main-section p {
  color: #fff;
}
.main-section p {
  font-size: 18px;
  letter-spacing: 1px;
}
/*========================== Portfolio Section ==========================*/
.portfolio-section {
  background: #eee;
}
.portfolio-section .row {
  margin-bottom: 20px;
}
.gallery-images .img-container {
  height: 120px;
  overflow: hidden;
  background: #fff;
  border: 5px solid white;
}
.gallery-images img {
  display: block;
  width: 100%;
}
.gallery-image {
  position: relative;
  border: 1px solid #ddd;
}
.description {
  background: #fff;
  box-sizing: border-box;
  padding: 5px;
  text-align: center;
  width: 100%;
}
.description h5 {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}
.description p {
  font-size: 11px;
  margin: 0;
}
