body {
  background: #fff;
  padding: 0;
  margin: 0;
}

/*======================== top-navigation =========================*/
.top-nav {
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}
.top-nav a.logo {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.top-nav ul {
  list-style-type: none;
  float: right;
  margin: 0;
}
.top-nav li {
  float: left;
  margin: 0 15px 0 0;
}
.top-nav li a {
  text-decoration: none;
  color: #999;
}

.top-nav li a:hover {
  color: #1e9700;
}
/*========================== Main Section ==========================*/
.main-section {
  padding: 50px 0;
  background: #588F27;
}
.headshot {
  width: 100%;
  border-radius: 50%;
}
.main-section h1,
.main-section p {
  color: #fff;
}
/*========================== Portfolio Section ==========================*/
.portfolio-section {
  padding: 50px 0;
}
